<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="/dist/d3.min.js" type="application/javascript"></script>
   <title>Main Doc</title>
</head>

<body>

   <div id="container"></div>
   <script src="/dist/tf.min.js" type="application/javascript"></script>

   <script src="/js/globals.js" type="application/javascript"></script>

   <!-- <script src="/dist/data.js" type="application/javascript"></script> -->
   <script src="/dist/model.dist.js" type="application/javascript"></script>
</body>

</html>